<!-- Copyright -->
<div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
    <p>© VRS 2020 . All Rights Reserved |
        <a href="http://google.com/"> Blockchain Vehicle Registration System </a>
    </p>
</div>